<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link styl.css -->
    <link rel="stylesheet" href="style.css">

    <!-- link vue framwok -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <title>To do list</title>
</head>

<body>

    <div id="app">
        
        <!-- input -->
        <div class="input">

            <input type="text" placeholder="Inserisci qui la nuova task" v-model="message">
            <button>Aggiungi</button>

        </div>

        <!-- to do list -->
        <div class="list">
            <ul>
                <li v-for="(obj, i) in todos" :class="{'done': todos[i].done}">
                    {{todos[i].text}}
                </li>
            </ul>
        </div>
        

    </div>
    
    <!-- link script.js -->
    <script src="script.js"></script>

</body>
</html>


